/* CreateWorm.module.css */

.containerContact {
  max-width: 800px;
  margin: 0;
  padding: 20px;
  background-color: pink;
}
.containerForm {
  max-width: 800px;
  margin-top: 20px;
  padding: 20px;
}

.imageGrid {
  display: grid;
  gap: 10px;
  padding: 0px;
  margin-bottom: 50px;
}

.deleteButton {
  background: transparent;
  border: none;
}

/* Default to a single column on smaller screens */
@media (min-width: 600px) {
  .imageGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Add a max-height property to limit the number of rows */
.imageGrid li {
  overflow: hidden;
}
