/* styles.css */

/* Basic styling for the navigation bar */
.navbar {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: none;
  padding: 10px;
  position: fixed;
  width: 100%;
  font-size: 24px;
  bottom: 0;
  z-index: 1000;
  font-size: 18px;
}

/* Style for the navigation links */
.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px 30px;
  margin-right: 30px;
  font-weight: lighter;
  /* border: 3px;
  border-radius: 10px; */
  /* background-color: #419773; */
}

/* Change link color on hover */
.navbar a:hover {
  color: #eae106;
  transform: translateY(-5px);
}

.image {
  flex: 1;
  margin-right: 20px;
  margin-left: 20px;
}

.menuToggle {
  cursor: pointer;
  z-index: 100;
  color: #419773;
}

.menuItems {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-left: 150px;
}

.menuItems a {
  margin-bottom: 10px;
  text-decoration: none;
  color: #419773;
  cursor: pointer;
  font-size: 20px;
}

/* Media query to hide the menu toggle on larger screens */
@media screen and (min-width: 767px) {
  .menuToggle {
    display: fixed;
    bottom: 50%;
  }

  .menuItems {
    display: flex;
  }
}

@media screen and (max-width: 766px) {
  .menuItems {
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
    margin-left: 5px;
  }
}
