/* CreateWorm.module.css */

.main {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  width: 100vw;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

.caption {
  padding: 20px;
}

.imageGrid {
  display: grid;
  gap: 10px;
  padding: 60px;
  margin-bottom: 50px;
}

.deleteButton {
  background: transparent;
  border: none;
  margin: 0;
}

.likeButton {
  background: transparent;
  border: none;
  margin: 0;
}
.editButton {
  background: transparent;
  border: none;
  margin: 0;
}

.wormCard {
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.01); /* Add box-shadow for a card-like appearance */
  list-style-type: none;
  padding: 30px;
  margin: 10px;
}

.WormCrawl {
  text-align: center;
  font-size: 80px;
}

.toggleFormButton {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.toggleFormButton:hover {
  background-color: pink;
  color: #fff;
}

.favorite {
  margin-top: 20px;
  padding: 20px;
  font-size: 30px;
}

.timestamp {
  color: grey;
}

@media (min-width: 768px) {
  .button-81 {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}

/* Default to a single column on smaller screens */
@media (min-width: 600px) {
  .imageGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Add a max-height property to limit the number of rows */
.imageGrid li {
  overflow: hidden;
}
