/* CreateWorm.module.css */

.main {
  align-items: center;

  display: flex;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  width: 100vw;
  flex-direction: column;
}

.imageGrid {
  display: grid;
  gap: 10px;
  padding: 60px;
  margin-bottom: 50px;
}

.deleteButton {
  background: transparent;
  border: none;
  margin: 0;
}

.likeButton {
  background: transparent;
  border: none;
  margin: 0;
}
.editButton {
  background: transparent;
  border: none;
  margin: 0;
}

.wormCard {
  overflow: hidden;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.01); /* Add box-shadow for a card-like appearance */
  list-style-type: none;
  padding: 30px;
  margin: 10px;
}

.WormCrawl {
  text-align: center;
}

.wormCount {
  color: red;
  text-align: center;
}

/* Default to a single column on smaller screens */
@media (min-width: 600px) {
  .imageGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Add a max-height property to limit the number of rows */
.imageGrid li {
  overflow: hidden;
}
