.homePage {
  /* Add any additional styles for the overall page here */

  color: black;
  padding: 20px;
}

.contentWrapper {
  display: flex;
  margin-left: 20px;
}

.title {
  flex: 1;
  margin-left: 50px; /* Adjust the margin as needed */
}

.text {
  margin-left: 80px;
  max-width: 300px;
  font-size: 18px;
  opacity: 0; /* Set initial opacity to 0 */
  animation: fadeIn 2s forwards; /* Use the fadeIn animation with a duration of 1.5 seconds */
}

.images {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content horizontally */
  justify-content: center;
  margin-bottom: 60px;
  margin-left: 20px;
}

.worm {
  position: sticky;
  top: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Start with opacity 0 */
  }
  to {
    opacity: 1; /* End with opacity 1 */
  }
}

.homePage a:hover {
  background-color: pink;
}
