.homePage {
  /* Add any additional styles for the overall page here */

  color: black;
  padding: 20px;
}

.contentWrapper {
  display: flex;
  margin-left: 20px;
}

.title {
  flex: 1;
  margin-left: 50px; /* Adjust the margin as needed */
}

.text {
  margin-left: 80px;
  max-width: 300px;
  font-size: 18px;
  opacity: 0; /* Set initial opacity to 0 */
  animation: fadeIn 2s forwards; /* Use the fadeIn animation with a duration of 1.5 seconds */
}

.images {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content horizontally */
  justify-content: center;
  margin-bottom: 60px;
  margin-left: 20px;
}

.worm {
  position: sticky;
  top: 0;
}

.backToTopButton {
  margin: 20px;
  padding: 20px;

  --b: 3px; /* border thickness */
  --s: 0.45em; /* size of the corner */
  --color: #373b44;

  padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background: conic-gradient(
      from 90deg at var(--b) var(--b),
      #0000 90deg,
      var(--color) 0
    )
    var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p))
    calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: 0.6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Start with opacity 0 */
  }
  to {
    opacity: 1; /* End with opacity 1 */
  }
}

.homePage a:hover {
  background-color: pink;
}
