.homePage {
  /* Add any additional styles for the overall page here */
  /* background-color: #ca89c6; */
  color: green;
}

.contentWrapper {
  display: flex;
}

.title {
  flex: 1;
  margin-left: 50px; /* Adjust the margin as needed */
}

.text {
  margin-left: 80px;
  max-width: 300px;
  font-size: 18px;
}

.homePage a:hover {
  background-color: pink;
}
