/* WorkDetails.module.css */
.outerContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
}

.container {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.imageContainer {
  display: flex;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.imageContainer img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.imageContainer img:hover {
  transform: scale(1.2); /* Add a zoom effect on hover */
}

.overlayText {
  margin: 0px;
  text-align: center;
  bottom: 10px;
  right: 10px;
  color: #e7dead;
  font-size: 14px;
  font-weight: bold;
}
.counter {
  margin: 0px;
  text-align: center;
  padding: 5px;
  color: #e7dead;
}

.back {
  margin: 50px;
  padding: 30px;
  color: #e7dead;
  text-decoration: underline;
}

.title {
  font-family: "Times New Roman", Times, serif;
  font-size: 16pt;
}
