/* WorkDetails.module.css */

.container {
  width: 100%;
  margin: 0 auto;
}

.imageContainer {
  display: flex;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.imageContainer img {
  width: 100%;
  max-width: 400px;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.imageContainer img:hover {
  transform: scale(1.2); /* Add a zoom effect on hover */
}

.overlayText {
  margin: 0px;
  text-align: center;
  bottom: 10px;
  right: 10px;
  color: #e7dead;
  font-size: 14px;
  font-weight: bold;
}
.counter {
  margin: 0px;
  text-align: right;
  padding-right: 30px;
  color: #e7dead;
}
