/* WorkList.module.css */

.workItem {
  position: relative;
  margin-bottom: 10px;
  display: inline-block;
  padding: 25px;
}

.preview {
  position: absolute;
  top: 75%;
  right: 35%;
  display: none;
}

.workItem:hover .preview {
  display: block;
}

.workItem:hover {
  background-color: pink;
}

.workItem a {
  color: black;
}
