.contactContainer {
  margin-left: 20px;
  padding: 20px;
}

.intro {
  opacity: 0; /* Set initial opacity to 0 */
  animation: fadeIn 2s forwards; /* Use the fadeIn animation with a duration of 1.5 seconds */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.scrollingBanner {
  background-color: lightgrey; /* Choose your background color */
  color: #ffffff; /* Choose your text color */
  padding: 10px;
  overflow: hidden;
  width: 100%;
  height: 30px;
}

.marquee {
  display: flex;
  animation: marqueeAnimation 20s linear infinite;
}

.space {
  margin-left: 20px;
}

@keyframes marqueeAnimation {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
